.questions {
    text-align: center;
    border: 1px solid black;
    /* padding: 35px; */
    /* margin: 20px; */
    /* width: 600px;
    position: relative;
    left: 15%; */
}

.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 20px; */
    /* width: 300px; */
}

.option {
    border: 1px solid;
    /* margin: 5px; */
    border-radius: 15px;
    /* padding: 5px; */
}

/* .eye-icon {
    position: relative;
    bottom: 90px;
} */