.main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.side-name {
    position: relative;
    left: 5em;
}

.nabBar {
    position: absolute;
    right: 120px;
}