.main-container {
    display: flex;
    gap: 200px;
    border-bottom: 1px solid blue;
    color: blue;


}

.common {
    padding: 20px;
}

.navBar {
    padding-top: 20px;
}

@media screen and (max-width: 768px) {



    .navBar {
        position: relative;
        right: 150px;
    }

    .common {
        padding: 10px;
    }
}