.main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    background-color: black;
}

.side-name h3 {
    position: absolute;
    left: 94px;
}

.nabBar {
    position: relative;
    right: 120px;
}