.questions {
    text-align: center;
    border: 1px solid black;
}

.option-container {
    display: flex;
    justify-content: space-around;
}

.option {
    border: 1px solid;
    /* margin: 5px; */
    /* border-radius: 15px; */
    /* padding: 5px; */
}