.questions {
    text-align: center;
    border: 1px solid black;
    margin: 7rem;
    padding: 30px;
}

.option-container {
    display: flex;
    justify-content: space-around;
}

.option {
    border: 1px solid;
}