.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 50px;
    margin: 100px;
}

.image-container img {
    position: relative;
    left: 19em;
}

.flex {
    position: relative;
    left: 6em;
}

.main-container {
    border-bottom: 2px solid black;
}

@media screen and (max-width:768px) {
    .image-container img {
        position: relative;
    }
}