.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 50px;

}


.text-container {
    padding-left: 19%;
}

.quiz-container {
    display: flex;
    position: relative;
    left: 10px;
    top: 75px;
}

.image-container img {
    position: relative;
    left: 70px;
}