.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 50px;
    margin: 100px;
}

/* 
.home-container {
    position: absolute;
    right: 20rem;
} */

.flex {
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    justify-content: center;
}

.main-container {
    border-bottom: 2px solid black;
}

@media screen and (max-width:768px) {
    .image-container img {
        position: relative;
    }
}